@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #13293D;
    color: #fff;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 5vh;
    max-width: 1920px;
    max-height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-estatistica {
    max-width: 100px;
}

.container {
    max-width: 840px;
    max-height: 339px;
    margin: 20px auto;
    margin-top: 130px;
    padding: 50px;
    background-color: #D3D3D3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
}

#resultado {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

button {
    background-color: #006494;
    color: #fff;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5vh;
    margin-top: 2px;
}

.container button {
    margin-top: 20px;
}

.p-container {
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #13293D;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

footer p {
    margin-bottom: 10px;
}

.container-t2 {
    padding-top: 2vh;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.container-t2 p {
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (max-width: 320px) {

    header {
        padding-bottom: 10px;
    }

    .container {
        margin-top: 20px;
        padding: 20px;
    }

    button {
        font-size: 18px;
    }

    footer {
        padding: 10px;
    }

}

@media screen and (max-height:480px) {

    body {
        font-size: 16px;
    }

    .container {
        padding: 20px;
    }

    footer {
        padding: 10px;
    }

}

@media screen and (min-height: 768px) {

    body {
        font-size: 18px;
    }

    .container {
        padding: 30px;
    }

    footer {
        padding: 10px;
    }

}
